{% extends 'base.html' %}
{% load static %}

{% block title %} HOME {% endblock %}

{% block content %}

    <!--ABOUT PROJECT-->
    <h2>About Cultural Compass</h2>
    <p>Cultural Compass is a platform dedicated to showcasing the rich cultural and historical landmarks of Azerbaijan. 
    Whether you're interested in exploring museums, parks, or historical monuments, our interactive map and filtering options will help you discover and navigate through the cultural treasures of this country. 
    By selecting specific categories or browsing through all landmarks, users can plan their visits and learn more about Azerbaijan's vibrant history and heritage.</p>
    <p>Our goal is to create a comprehensive and user-friendly guide to the most significant places in Azerbaijan, 
    making it easy for both tourists and locals to appreciate the beauty and history around them.</p>
    
{% endblock %}