/* style.css */
/* BODY */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

/* HEADER STYLE */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* MAIN CONTAINER */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* LIST STYLE */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #4CAF50;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #4CAF50;
}

#map {
    height: 400px;
    width: 75%;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 2px;
    background-color: #333;
    color: white;
    position:static;
    width: 100%;
    bottom: 0;
}

/* ADDAPTATION */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }
}